.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.item {
    color: white;
}

.dialogItems {
    padding: 10px;

}



.dialog {
    padding: 10px;
    color: aliceblue;

}

.messages {

    color: aliceblue;
}